@charset "UTF-8";
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;

  @media screen and (min-width: 320px) {
    max-width: 320px;
  }

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 720px) {
    max-width: 720px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

#gallery {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0;
}

li {
  margin-top: 15px;
}
